{% extends "base.html" %}

{% block title %}Add a new company - {% endblock %}

{% block header %}
<link rel="stylesheet" type="text/css" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />

<script type='text/javascript' src='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js'></script>
{% endblock %}

{% block content %}
<h1>Add a new company</h1>
     

<form method="POST" autocomplete="off">
  {% csrf_token %}
  {{ form.as_p }}
  <div id="map" style="height: 40vh; border: 1px solid #AAA;"></div>
  <div class="near-companies-list">
    <ul>
      
    </ul>
  </div>
  <div class="selected_company-info">
    <h1>No Company Selected</h1>
    <ul>
      <li id="selected_company-address">No Address</li>
      <li id="selected_company-city_country">No Country</li>
      <li id="selected_company-category">No Category</li>
    </ul>
  </div>

  <input type="submit">
</form>

<script>
const companies_output = document.querySelector(".near-companies-list ul");
const foursquare_id = document.querySelector("form input[name=foursquare_id]");
const city = document.querySelector("form input[name=city]");
const country = document.querySelector("form input[name=country]");
const address = document.querySelector("form input[name=address]");
const lng = document.querySelector("form input[name=lng]");
const lat = document.querySelector("form input[name=lat]");

const name_info = document.querySelector(".selected_company-info h1");
const city_country_info = document.querySelector(".selected_company-info #selected_company-city_country");
const address_info = document.querySelector(".selected_company-info #selected_company-address");
const category_info = document.querySelector(".selected_company-info #selected_company-category");

var companies = "";

function addFields(i) {
  document.querySelector("#company-" + i + "-radio").checked = true;
  console.log(companies[i]);
  city.value = companies[i]['location']['city'];
  foursquare_id.value = companies[i]['id'];
  address.value = companies[i]['location']['address'];
  country.value = companies[i]['location']['country'];
  lat.value = companies[i]['location']["lat"];
  lng.value = companies[i]['location']["lng"];

  name_info.innerHTML = companies[i]['name'];
  city_country_info.innerHTML = companies[i]['location']['city'] + ", " + companies[i]['location']['country'];
  address_info.innerHTML = companies[i]['location']['address'];
  category_info.innerHTML = companies[i]['categories'][0]['name']; 
  console.log(lng.value);
}

function get_data(pos) {
  var crd = pos.coords;
  console.log('Your current position is:');
  console.log(`Latitude : ${crd.latitude}`);
  console.log(`Longitude: ${crd.longitude}`);

  var map = L.map('map', {
      center: [crd.latitude, crd.longitude],
      minZoom: 17,
      zoom: 18
  });

  L.tileLayer( 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
      subdomains: ['a','b','c']
  }).addTo( map );
  
  var query = "https://api.foursquare.com/v2/venues/search?limit=10&ll="+ crd.latitude + "," + crd.longitude +"&oauth_token=YGDDK5HDOKGR21Q1QERJDBLCUKWBZA0VQHKUVJZN214ZPZV0&v=20170321";

  var xhr = new XMLHttpRequest();
  xhr.open("GET", query, false);
  xhr.send();

  var jsonResponse = JSON.parse(xhr.responseText);
   console.log(jsonResponse);
  var companies_list = [];
  companies = jsonResponse["response"]["venues"];

  for (var i=0; i < companies.length; i++) {
    L.marker([companies[i]['location']["lat"], companies[i]['location']["lng"]]).addTo(map)
        .bindPopup("<h1>" + companies[i]["name"] + "</h1><ul><li>" + companies[i]["location"]["address"] + "</li><li>" + companies[i]["location"]["city"] + ", " + companies[i]["location"]["country"] + "</li></ul><a href='#'' onclick='javascript:addFields(" +i +");'>Select</a>");
    companies_list.push(companies[i]);
    companies_output.innerHTML += `<li id="company-${i}"><label>
      <input type="radio" id="company-${i}-radio" onclick="javascript:addFields(${i});" name="name" value="${companies[i]["name"]}" required/>
      ${companies[i]["name"]}
      </label>
      `;
  }
  // form.innerHTML += `<input type="hidden" name="lat" value="${crd.latitude}" required/><input type="hidden" name="lng" value="${crd.longitude}" required/>
  // `;
  lat.value = crd.latitude;
  lng.value = crd.longitude;
}

function error() {
  console.log("Can't find ya");
}

if ("geolocation" in navigator) {
  console.log("yes");
  navigator.geolocation.getCurrentPosition(get_data, error);
} else {
  console.log("NO");
}


</script>
{% endblock %}