{% extends "base.html" %}

{% block doc-title %}Home - {% endblock %}

{% block content %}
<section class="profile">
  <a href="{% url 'edit_user' user.username %}">Edit Profile</a>
  <div id="profile__user_info">
    <div id="profile__points">{{ user.points }}</div>
    <div id="profile__picture">
      <img id="profile__picture_image" src="{{ user.profile_picture.url }}" alt="{{ user.username }}s profile picture">    
    </div>
    <h2 id="profile__username">{{ user.username }} | Joined {{ user.date_joined|date:"m/d/y" }}</h2>
</div>
</section>
<section class="user-companies">
  <h2>Companies you submitted.</h2>
    {% if companies %}
      {% for company in companies %}
        {% for image in company_images %}
          {% if image.0 == company.pk %}
          <div class="user-companies__company company">
            <div class="user-companies__image" style="background-image: url('{{ image.1.0 }}'); background-size: cover;"></div>
            <div class="user-companies__content">
              <a href="{% url 'company_detail' company.pk company.slug %}"><h1>{{ company.name }}</h1></a> 
              <ul>
                <li>Severity <span class="severity-{{ company.get_severity_display }}">{{ company.get_severity_display }}</span></li>
                <li>Location: {{ company.address }}</li>
                <li>Posted on: {{ company.time }}</li>
              </ul>
              <!-- <h2>Add Image</h2>
              <form method="post" enctype='multipart/form-data'>
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="company" value="{{ company }}">
                <input type="submit" value="Add Image">
              </form> -->
              <a href="{% url 'company_edit' company.pk company.slug %}">Edit</a>
            </div>
            <div class="user-companies__company_serverity">
              <span class="user-companies__severity">{{ company.get_severity_display }}</span>
              <span class="severity-{{ company.severity }} severity"></span>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% else %}
  <h1>No Companies.</h1>
  {% endif %}
</section>
<section class="user-images">
<h2>Images you have submitted.</h2>
{% for image in images %}
<div class="user-image" style="width:300px; display: inline-block;">
  <a href="{{ image.company.get_absolute_url }}">
    <h3>{{ image.company.name }}</h3>
  <img src="{{ image }}" width="100%">
  </a>
</div>
{% endfor %}
</section>
{% endblock %}