{% extends "base.html" %}

{% block doc-title %}Home - {% endblock %}

{% block content %}
<h2>Welcome home <em>{{ user.username }}</em> ( {{ user.points }} )</h2>

<section class="user-companies">
  <h3>Companies you have posted.</h3>
  
    {% for company in companies %}
    {% for image in company_images %}
    {% if image.0 == company.pk %}
    <div class="user-companies__company company">
      <img class="user-companies__image" src="{{ image.1.0 }}">
      <div class="user-companies__content">
        <a href="{% url 'detail' company.pk company.slug %}"><h1>{{ company.name }}</h1></a> 
        <ul>
          <li>Severity <span class="severity-{{ company.get_severity_display }}">{{ company.get_severity_display }}</span></li>
          <li>Location: {{ company.location }}</li>
          <li>Posted on: {{ company.time }}</li>
        </ul>
        <!-- <h2>Add Image</h2>
        <form method="post" enctype='multipart/form-data'>
          {% csrf_token %}
          {{ form.as_p }}
          <input type="hidden" name="company" value="{{ company }}">
          <input type="submit" value="Add Image">
        </form> -->
        <a href="{% url 'edit' company.pk company.slug %}">Edit</a>
      </div>
      <div class="user-companies__company_serverity">
        <span class="user-companies__severity">{{ company.get_severity_display }}</span>
        <span class="severity-{{ company.severity }} severity"></span>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  {% endfor %}
</section>
{% endblock %}