{% extends "base.html" %}

{% block doc-title %}Home - {% endblock %}

{% block content %}
<section class="profile">
  {% if user.is_authenticated and user.pk == current_user.pk %}
  <a href="{% url 'edit_user' user.username %}">Edit Profile</a>
  {% endif %}
  <div id="profile__user_info">
    <div id="profile__points">{{ current_user.points }}</div>
    <div id="profile__picture">
      <img id="profile__picture_image" src="{{ current_user.profile_picture.url }}" alt="{{ current_user.username }}s profile picture">    
    </div>
    <h2 id="profile__username">{{ current_user.username }} | Joined {{ current_user.date_joined|date:"m/d/y" }}</h2>
</div>
</section>
<section class="user-companies">
  <h2>Companies {{ current_user.username }} has submitted.</h2>
  
    {% for company in companies %}
    {% for image in company_images %}
    {% if image.0 == company.pk %}
    <div class="user-companies__company company">
      <div class="user-companies__image" style="background-image: url('{{ image.1.0 }}'); background-size: cover;"></div>
      <div class="user-companies__content">
        <a href="{% url 'company_detail' company.pk company.slug %}"><h1>{{ company.name }}</h1></a> 
        <ul>
          <li>Severity <span class="severity-{{ company.get_severity_display }}">{{ company.get_severity_display }}</span></li>
          <li>Location: {{ company.address }}</li>
          <li>Posted on: {{ company.time }}</li>
        </ul>
        <!-- <h2>Add Image</h2>
        <form method="post" enctype='multipart/form-data'>
          {% csrf_token %}
          {{ form.as_p }}
          <input type="hidden" name="company" value="{{ company }}">
          <input type="submit" value="Add Image">
        </form> -->
        <a href="{% url 'company_edit' company.pk company.slug %}">Edit</a>
      </div>
      <div class="user-companies__company_serverity">
        <span class="user-companies__severity">{{ company.get_severity_display }}</span>
        <span class="severity-{{ company.severity }} severity"></span>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  {% endfor %}
</section>
{% endblock %}