/* -=-=-=-=-=-=-=-=- Fonts -=-=-=-=-=-=-=-=- */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Varela+Round');


/* -=-=-=-=-=-=-=-=- Clearfix -=-=-=-=-=-=-=-=- */

* {
  box-sizing: border-box;
}

body {
  margin: 0; 
  padding: 0;
}

/* -=-=-=-=-=-=-=-=- Variables -=-=-=-=-=-=-=-=- */

$primary-yellow: #F8C000;
$secondary-green: #52AA5E;
$primary-gray: #37323E;
$secondary-gray: #323031;
$tershiary-gray: #938274;

$primary-font: 'Varela Round', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

$bp-mobile: 540px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-widescreen: 1920px;

$transition: 0.3s all;

$severity-1: #D0DDD7;
$severity-2: #E5E059;
$severity-3: #F3CA40;
$severity-4: #F08A4B;
$severity-5: #C73E1D;
$severity-6: #AB2129;
$severity-7: #FF101F;


/* -=-=-=-=-=-=-=-=- Mixins -=-=-=-=-=-=-=-=- */

@mixin mobile {
   @media (max-width: #{$bp-mobile}){
    @content;
  }
}
@mixin tablet {
   @media (min-width: #{$bp-tablet}) and (max-width: #{$bp-desktop - 1px}){
    @content;
  }
}
@mixin desktop {
   @media (min-width: #{$bp-desktop}){
    @content;
  }
}


/* -=-=-=-=-=-=-=-=- General Styles -=-=-=-=-=-=-=-=- */

h1, h2, h3, h4, h5, h6 {
  font-family: $primary-font;
}

p, a, li, input, span {
  font-family: $secondary-font;
}

a {
  color: $primary-yellow;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

section, header {
  padding: 0.1em;
}

/* -=-=-=-=-=-=-=-=- Main Styles -=-=-=-=-=-=-=-=- */

.severity {
  height: 100%;
  width: 10%;
  display: block;
}

.severity-1 {
  flex-grow: 1;
  background: $severity-1;
}

.severity-2 {
  flex-grow: 2;
  background: $severity-2;
}

.severity-3 {
  flex-grow: 3;
  background: $severity-3;
}

.severity-4 {
  flex-grow: 4;
  background: $severity-4;
}

.severity-5 {
  flex-grow: 5;
  background: $severity-5;
}

.severity-6 {
  flex-grow: 6;
  background: $severity-6;
}

.severity-7 {
  flex-grow: 7;
  background: $severity-7;
}


#nav {
  width: 100%;
  margin: 0;
  padding: 0;
  background: white;
  border-bottom: 3px solid rgba(0,0,0,0.1);
  //box-shadow:  0 4px 40px -3px rgba(0,0,0,0.4);

  ul#nav__list {
    margin: 0;
    padding: 0.3em;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    @include mobile {
      flex-wrap: wrap;
    }

    li.nav__item {
      flex-grow: 1;
      margin-left: 0;
      list-style-type: none;
      display: inline;

      a {
        font-size: 1.5em;
        font-family: $primary-font;
        color: $primary-gray;
        text-decoration: none;

        @include mobile {
          font-size: 1em;
        }

        &:hover {
          color: lighten($primary-gray, 25%);
        }
      }
    }

    li#nav__user {

      #nav__user_icon { 
        position: relative;

        #nav__user_icon_details {
          display: none;
          position: absolute;
          right: 33%;
          top: calc(3vw + 2em);
          background: lighten($primary-gray, 70%);
          border-radius: 5px;
          padding: 0;
          
          ul {
            padding: 0;
            margin: 0;
            transition: $transition;

            li {
              list-style-type: none;
              border-bottom: 1px solid rgba(0,0,0,0.1);
              width: 100%;
              padding: 1em;

              a {               
                font-size: 1.2em;
                transition: $transition;

                &:hover {
                  color: $primary-yellow;
                  transition: $transition;
                }
              }
            }
          } 
        }

        #nav__user_icon_details.showing {
          display: block;
          z-index: 3;
        }

        #nav__user_icon_image {
          width: 1.5em;
          height: 1.5em;
          position: relative;
          border-radius: 50%;
          transition: $transition;
          cursor: pointer;
        }
        .icon_image_showing {
          transform: scale(1.5);
          border: 3px solid $primary-yellow;
          transition: $transition;
        }
      }
    }
    
    li#nav__add_company {
      a {
        padding: 0.15em 2.5em;
        background: $secondary-green;
        border-radius: 20px;
        color: white;
        transition: $transition;
        
        &:hover {
          background: lighten($secondary-green, 20%);
          transition: $transition;
        }
      }
    }

    li#nav__header {
      color: $primary-yellow;
      font-size: 1.1em;
      margin: 0;
      padding: 0;

      @include mobile {
        width: 100vw;
      }

      a {
        transition: $transition;
        color: $primary-yellow;
        
        &:hover {
          transition: $transition;
          color: lighten($primary-yellow, 25%);
        }
      }
    }
  }
}


.user-companies {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  
  h2 {
    font-size: 1.5em;
    width: 100%;
  }

  .user-companies__company {
    margin: 1em;
    display: inline-block;
    flex-grow: 1;
    position: relative;
    max-width: 33.3%;
    padding: 1em;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0px 0px 30px rgba(0,0,0,0.15);
    border-radius: 15px 15px 0 0;
    
    @include mobile {
      max-width: 100vw;
      margin: 1em auto;
    }

    .user-companies__image {
      width: 100%;
      height: 300px;
      background: rbga(0,0,0,0.6);
      margin: 0 auto;
      display: block;
      padding: 0;
    }

    h1 {
      font-size: 30px;
    }

    .user-companies__company_serverity {
      width: 100%;
      height: 10px;
      display: flex;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0;

      .user-companies__severity {
        position: absolute;
        right: 1em;
        font-size: 20px;
        color: $primary-gray;
        bottom: calc(1em + 10px);
      }
    }
  }
}

section.profile {
  display: flex;
  border-bottom: 2px solid rgba(0,0,0,0.1);
  justify-content: center;
  background: rgba(0,0,0,0.05);
  
  #profile__user_info {
    margin: 0 auto;
    position: relative;

    #profile__points {
      position: absolute;
      font-family: $primary-font;
      font-size: 1.5em;
      background: lighten($primary-yellow, 25%);
      color: black;
      border: 4px solid $primary-yellow;
      border-radius: 50%;
      width: 2em;
      height: 2em;
      display: flex;
      align-items: center;
      padding: 0.5em;
    }

    #profile__picture {
      width: 100%;

      #profile__picture_image {
        margin: 0 auto;
        display: block;
        border-radius: 50%;
        height: 10em;
        width: 10em;
      }
    }

    #profile__username {
      text-align: center;
      display: block;
    }
  }
}